@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: 'Outfit';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --color-principal: #257e1a;
    --color-letras:#569e47;
    --color-contacto:#87bf74;
    --color-banner:#b7dfa1;
    --color-header: #e8ffce;
    --color-negro: black;
}

[tema="light"]{
    --color-principal: #e8ffce;
    --color-letras: #b7dfa1;
    --color-contacto: #87bf74;
    --color-banner: #569e47;
    --color-header: #257e1a;
    --color-negro:white;
}


/*Botón de cambio de tema*/

#switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}  
#switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--color-principal);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:var(--color-header);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: var(--color-principal);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--color-header);
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

.contenedorHeader {
    background-color: var(--color-header);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedorHeader header{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedorHeader header h1 {
    color: var(--color-principal);
}

.contenedorHeader header ul {
    display: flex;
    list-style: none;
}

.contenedorHeader header ul li a {
    text-align: none;
    color: var(--color-letras);
    margin: 0 15px;
    padding: 5px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 20px;
}

.contenedorHeader header ul li a:hover {
    color: var(--color-principal);
}

.inicio{
    background: linear-gradient(to top,rgba(183,223,161,0.5), rgba(183, 223, 161, 0.8)), url(/img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: var(--color-negro);
    display: flex;
    align-items: center;
}

.inicio .contenidoBanner{
    padding: 20px;
    background-color: var(--color-banner);
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenidoBanner img{
    margin-top: 40px;
    border: 8px solid var(--color-principal);
    display: block;
    margin:auto;
    margin-top: 60px;
    border-radius: 100%;
    width: 80%;
}

.inicio .contenidoBanner h2{
    margin-top: 40px;
    font-size: 40px;
}

.inicio .contenidoBanner h3 {
    font-size: 20px;
    font-weight: normal;
}

.inicio .contenidoBanner .redes a{
    color: var(--color-negro);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--color-negro);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 10px 5px;
    font-size: 20px;
    transition: 0.5s;
}

.inicio .contenidoBanner .redes a:hover {
    background-color: var(--color-principal);
}

.sobreMi {
    background-color: var(--color-banner);
    color: var(--color-negro);
    padding: 50px 20px;
}

.sobreMi .contenedorSeccion {
    max-width: 1100px;
    margin: auto;
}

.sobreMi h2 {
    font-size: 48px;
    text-align: center;
    padding: 20px;
}

.sobreMi .contenedorSeccion p{
    font-size: 18px;
    line-height: 25px; /* Interlineado */
}

.sobreMi .contenedorSeccion p span {
    color: var(--color-principal);
    font-weight: bold;
}

.sobreMi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--color-negro);
    width: fit-content; /* Se ajusta dependiendo el tamaño de los elementos*/
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 14px;
    color: var(--color-negro);
    position: relative;
    z-index: 10;
}

.sobreMi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-principal);
    z-index: -1;
    transition: 1s;
}

.sobreMi button:hover .overlay {
    width: 100%;
}

.skills {
    background-color: var(--color-banner);
    color: var(--color-negro);
    padding: 50px 20px;
}

.skills .contenedorSeccion {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 50px;
    text-align: center;
    padding: 20px;
    padding-top: 40px;
}

.skills .fila {
    display: flex;   
}

.skills .fila .col {
    width: 50%;
    padding: 0px 20px;
}

.skills .fila .col h3{
    font-size: 30px;
    margin-bottom: 25px;
}

.skills .skill > span {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

.skills .skill .barraSkill {
    height: 8px;
    width: 80%;
    background-color: var(--color-negro);
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso {
    background-color: var(--color-principal);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barraSkill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--color-principal);
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 16px;
}

.skills .skill > span i{
    margin: 0 6px;
    font-size: 18px;
}

.skills .skill .html {
    width: 0%;
    animation: 2s html forwards;
}@keyframes html {
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}@keyframes javascript {
    0%{width: 0%;}
    100%{width: 30%;}
}

.skills .skill .python {
    width: 0%;
    animation: 2s python forwards;
}@keyframes python {
    0%{width: 0%;}
    100%{width: 20%;}
}

.skills .skill .bbdd {
    width: 0%;
    animation: 2s bbdd forwards;
}@keyframes bbdd {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .comunicacion {
    width: 0%;
    animation: 2s comunicacion forwards;
}@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .trabajoEquipo {
    width: 0%;
    animation: 2s trabajoEquipo forwards;
}@keyframes trabajoEquipo {
    0%{width: 0%;}
    100%{width: 77%;}
}

.skills .skill .responsabilidad {
    width: 0%;
    animation: 2s responsabilidad forwards;
}@keyframes responsabilidad {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .adaptabilidad {
    width: 0%;
    animation: 2s adaptabilidad forwards;
}@keyframes adaptabilidad {
    0%{width: 0%;}
    100%{width: 80%;}
}

.experiencia {
    background-color: var(--color-banner);
    color: var(--color-negro);
    padding: 50px 20px;
}

.experiencia .contenedorSeccion {
    max-width: 1100px;
    margin: auto;
}

.experiencia h2 {
    font-size: 50px;
    text-align: center;
    padding: 20px;
    padding-top: 40px;
}

.experiencia .fila {
    display: flex;
    justify-content: space-between;
}

.experiencia .fila .col{
    width: 50%;
    padding: 0 20px;
}

.experiencia .fila .col h3{
    font-size: 30px;
    margin-bottom: 25px;
}

.experiencia .fila .izquierda {
    border-right: 2px solid var(--color-contacto);
}
.experiencia .fila .derecha {
    border-right: 2px solid var(--color-contacto);
}

.experiencia .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: var(--color-contacto);
    position: relative;
}

.experiencia .fila .item h4 {
    font-size: 22px;
    margin-bottom: 10px;
}
.experiencia .fila .item .casa{
    color: var(--color-principal);
    font-size: 18px;
    font-weight: bold;
    display: block;
}
.experiencia .fila .item .fecha{
    display: block;
    color: var(--color-principal);
    margin-bottom: 10px;
}

.experiencia .fila .item p{
    line-height: 24px;
}

.experiencia .fila .izq{
    border-right: 2px solid var(--color-principal);
    margin-right: 20px;
}
.experiencia .fila .der{
    border-left: 2px solid var(--color-principal);
    margin-left: 20px;
}

.experiencia .fila .item .conectori {
    height: 2px;
    background-color: var(--color-principal);
    width: 45px;
    position: absolute;
    top: 50%;
    right: -45px;
    z-index: 5;
}

.experiencia .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--color-principal);
    float: right;
    position: relative;
    bottom: 4px;
}

.experiencia .fila .item .conectord{
    height: 2px;
    background-color: var(--color-principal);
    width: 45px;
    position: absolute;
    top: 50%;
    left: -45px;
    z-index: 5;
}

.experiencia .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--color-principal);
    float: left;
    position: relative;
    bottom: 4px;
}

.experiencia .fila .item{
    transition: transform 0.5s;
}

.experiencia .fila .item:hover {
    transform: scale(1.1);
}

.proyectos {
    background-color: var(--color-banner);
    color: var(--color-negro);
    padding: 50px 20px;
}

.proyectos .contenedorSeccion {
    max-width: 1200px;
    height: 629px;
    margin: auto;
}

.proyectos h2 {
    font-size: 50px;
    text-align: center;
    padding: 20px;
    padding-top: 40px;
}

.proyectos .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.proyectos .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.proyectos .galeria .proyecto img{
    width: 100%;
    display: block;
    border-radius: 30px;
}

.proyectos .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(135, 191, 116,0.6), rgba(135, 191, 116, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 20px;
    letter-spacing: 5px;
    opacity: 0;
    border-radius: 30px;
}

.proyectos .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}

.proyectos .galeria .proyecto .overlay:hover{
    opacity: 1;
}

.proyectos .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}

.contacto {
    background-color: var(--color-contacto);
    color: var(--color-negro);
    padding: 50px 0;
}

.contacto .contenedorSeccion {
    max-width: 1100px;
    margin: auto;
}

.contacto h2{
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

.contacto .fila {
    display:flex;
}

.contacto .col{
    width: 100%;
    padding: 10px;
    position: relative;
}

.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: var(--color-banner);
    color: var(--color-negro);
    font-size: 18px;
}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--color-negro);
    width: fit-content; /* Se ajusta dependiendo el tamaño de los elementos*/
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 14px;
    color: var(--color-negro);
    position: relative;
    z-index: 10;
}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-principal);
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay{
    width: 100%;
}

footer {
    background-color: var(--color-letras);
    color: var(--color-negro);
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .redes a{
    color: var(--color-negro);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--color-negro);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 10px 5px;
    font-size: 40px;
}

footer .redes .gmail .fa-google{
    font-size: 30px;
}
footer .redes .gmail {
    display: inline-flex;
    font-size: 20px;
    padding: 0 10px;
    border: 1px var(--color-negro) solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 5px;
}
footer .redes .gmail span{
    margin-left: 10px;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--color-principal);
    color: var(--color-negro);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}