h1 {
    color: white;
    font-size: 50px;
    background-color: #ec6363;
    border-radius: 10px;
    padding: 10px;
}

h2 {
    background-color: #ecb163;
}

body {
    border: solid #dfd487 5px;
    margin-left: 30px;
    background-color: #bdebca;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: justify;
}

p {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.img:hover {
    border: solid gray 8px;
}

.img {
    box-shadow: 5px 5px 5px 5px rgba(32,32,32,0.3);
}

.image-container {
    text-align: center;
}

ul, ol {
    margin: 20px;
}

.saludo {
    font-style: italic;
}