@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: 'Outfit';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.contenedorHeader {
    background-color: #2b2726;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedorHeader header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedorHeader header h1 {
    color: #018790;
}

.contenedorHeader header ul {
    display: flex;
    list-style: none;
}

.contenedorHeader header ul li a {
    text-align: none;
    color: #bacca4;
    margin: 0 15px;
    padding: 5px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 20px;
}

.contenedorHeader header ul li a:hover {
    color:#018790;
}

.lineasAux {
    background-color: #018790;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.inicio{
    background: linear-gradient(to top,rgba(43,39,38,0.85), rgba(43,39,38,1)), url(/img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
}

.inicio .contenidoBanner{
    padding: 20px;
    background-color: #171413;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenidoBanner img{
    margin-top: 40px;
    border: 8px solid #018790;
    display: block;
    margin:auto;
    margin-top: 60px;
    border-radius: 100%;
    width: 80%;
}

.inicio .contenidoBanner h2{
    margin-top: 40px;
    font-size: 40px;
}

.inicio .contenidoBanner h3 {
    font-size: 20px;
    font-weight: normal;
}

.inicio .contenidoBanner .redes a{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 10px 5px;
    font-size: 20px;
    transition: 0.5s;
}

.inicio .contenidoBanner .redes a:hover {
    background-color: #018790;
}